
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    min-height: 75rem;
}

a {
    color: #4056A1;
}
a:hover,
a:focus {
    color: #334480;
}

.bg-primary {
    background-color: rgba(245, 229, 185, 1.0) !important;
}
.bg-secondary {
    background-color: rgba(64, 86, 161, 1.0) !important;
}
.bg-danger {
    background-color: rgba(241, 60, 31, 1.0) !important;
}
.bg-info {
    background-color: rgba(215, 153, 34, 1.0) !important;
}
.bg-success {
    background-color: rgba(14, 73, 29, 1.0) !important;
}
.bg-accent1 {
    background-color: rgba(241, 31, 107, 1.0) !important;
}
.bg-accent2 {
    background-color: rgba(29, 14, 73, 1.0) !important;
}
.bg-accent3 {
    background-color: rgba(161, 64, 86, 1.0) !important;
}
.bg-accent4 {
    background-color: rgba(26, 137, 111, 1.0) !important;
}
.bg-accent5 {
    background-color: rgba(137, 111, 26, 1.0) !important;
}

.btn {
    border-radius: 0;
}

.btn-primary {
    background-color: #F13C1F;
    border-color: #d8361b;
}
.btn-primary:hover,
.btn-primary:focus {
    background-color: #d8361b;
    border-color: #c03018;
}

.btn-secondary {
    background-color: #4056A1;
    border-color: #394d90;
}
.btn-secondary:hover,
.btn-secondary:focus {
    background-color: #394d90;
    border-color: #334480;
}

.btn-info {
    color: #FFFFFF;
    background-color: #D79922;
    border-color: #c1891e;
}
.btn-info:hover,
.btn-info:focus {
    color: #FFFFFF;
    background-color: #c1891e;
    border-color: #ac7a1b;
}

.btn-success {
    color: #FFFFFF;
    background-color: #0E491D;
    border-color: #0E491D;
}
.btn-success:hover,
.btn-success:focus {
    color: #FFFFFF;
    background-color: #0E491D;
    border-color: #0C411A;
}

.navbar-light .navbar-brand {
    color: #4056A1;
    font-size: 1.4rem;
    font-weight: bold;
}
.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:focus {
    color: #334480;
}

.home-cover {
    background: url(/pics/paint.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.instructors-cover {
    background: url(/pics/stage-lights.jpg) no-repeat right center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.courses-banner {
    background: url(/pics/leaves.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-top: -1.5rem;
}

.courses-badge {
    font-family: sans-serif;
    font-weight: normal;
}

#v-pills-tab.nav-pills {
    min-width: 200px;
}